@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
}


.error404{
    justify-content: center;
    text-align: center; 
}

.e404{
    font-size: 200px;
}
.boton{
    padding-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: white;
    background-color: rgb(48, 98, 214);
    border-radius: 150px;
    margin-top: 20px;
    border-color: rgb(35, 57, 109);
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.boton:hover{
    background-color: rgb(94, 141, 252);
    color: white;
    text-decoration: none;
}